@import './colors.css';

/* Cygre Font Family */
@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Thinlt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Lightlt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Regularlt.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Book.ttf') format('truetype');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Booklt.ttf') format('truetype');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Mediumlt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-SemiBoldlt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Boldlt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-ExtraBoldlt.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cygre';
  src: url('../fonts/Cygre-Blacklt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

